.discussion{
    background-image: url("DiscussionBackground.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
    margin: 10px 60px;
    min-height: 450px;
    padding-bottom: 60px;
  }
  
  h4 {
    margin: 0;
  }
  
  p {
    margin: 5px 0;
  }
  
  button {
    display: block;
    margin: 5px 0%;
  }

  #Content {
    display: flex;
    flex-direction: row;
  }
  
  .Add_Q_Section {
    text-align: center;
    width: 50%;
    align-self: center;
  }
  
.Q_Title {
  color: greenyellow;
  font-size: larger;
  font-weight: bold;
}
  
  .Question {
    width: 50%;
    height: 50px;
  }
  
  #Q_Submit {
    display: block;
    margin:auto auto;
  }
  
  .row {
    padding: 5px;  
  }
  
  ol {
    color: aliceblue;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
  }

  .title {
    text-decoration: underline;
    text-shadow: #f1f1f1;
    color: aqua;
  }

  .reply {
    display: block;
    align-items: flex-end;
  }